$primaryColor: #F28F10;
$primaryColorTransparent: #F28F1040;
$primaryColorLight: lighten($primaryColor, 40);
$secondaryColor: #105FF2;
$white: white;
$black: black;
$blackText: #5A5A5A;
$whiteText: #c8C8C8;
$utilColor1: #E3E3E3;
// $background2: #E5EDFC;