// Major second
$fontSize-3: .702rem;
$fontSize-2: .79rem;
$fontSize-1: .889rem;
$fontSize: 1rem;
$fontSize1: 1.125rem;
$fontSize2: 1.266rem;
$fontSize3: 1.424rem;
$fontSize4: 1.602rem;
$fontSize5: 1.802rem;
$fontSize6: 2.027rem;
$fontSize-xl: 2.566rem;
$fontSize-xxl: 3.653rem;
$fontSize-xxxl: 5.202rem;