@import "_colors";
@import "_custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";

// Custom boostrap styles
.bg-dark {
    background-color: transparent !important;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: $primary;
}

// App styles
body {
    color: $blackText;
    position: relative;
    text-rendering: optimizeLegibility !important;
}
header {
    background: transparent;
    padding: 1rem 0;
    position: absolute;
    transition: .3s padding ease-in, .3s background ease-in;
    top: 30vh;
    width: 100%;
    z-index: 3;
    &.on {
        position: fixed;
        top: 0;
        &.over {
            background: $black;
            padding: 0;
            #navbarSupportedContent {
                justify-content: flex-end;
            }
            .navbar-brand {
                display: inline-block;
            }
            .nav-link:first-child {
                margin-left: 1rem;
            }
        }
    }
    #navbarSupportedContent {
        justify-content: space-evenly;
    }
    .navbar-brand {
        display: none;
    }
    .nav-link:first-child {
        margin-left: 0;
    }
}
nav li {
    margin-left: 1rem;
}
section {
    background: lightyellow;
    &:nth-child(even) {
        background: lightblue;
    }
}
h1 {
    color: $white;
    font-weight: 900;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
strong {
    font-weight: 600;
}
a:hover {
    text-decoration: none;
}
#about, 
#technologies .overlay {
    padding: 5em 0;
}
#about {
    background: $background1;
}
#technologies {
    background: url(../img/rain.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: $whiteText;
}
#home {
    background: url(../img/keyboard.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0;
    position: relative;
    .overlay {
        height: 100vh;
    }
}
#navbarSupportedContent {
    font-size: 1.5rem;
    font-family: 'Engagement', cursive;
}
.about {
    @extend .row;
}
.about-img, 
.about-text {
    @extend .col-lg-6;
    @extend .col-md-12;
}
.about-img img {
    margin-bottom: 2em;
    width: 100%;
}
.about-list {
    @extend .list-unstyled;
    line-height: 1.75;
    strong {
        font-weight: 500;
    }
    .far {
        margin-right: 1rem;
    }
}
.color-primary {
    color: $primary;
}
.go-to-page {
    @extend .fa;
    @extend .fa-angle-down;
    z-index: 4;
}
.icon-circle {
    @extend .far;
    @extend .fa-dot-circle;
}
.fa-angle-down {
    bottom: 2rem;
    color: $white;
    border: 2px solid $utilColor1;
    border-radius: 50%;
    font-size: 24px;
    padding: 10px 15px;
    position: absolute;
    transition: all .3s ease-in;
    &:hover {
        background: $primary;
        color: $white;
        border: 2px solid $primary;
        transition: all .3s ease-out;
    }
}
.line {
    border-top: 4px solid #F28F10;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 1.25em auto 5em;
}
.main-title {
    position: relative;
    z-index: 4;
}
.navbar {
    width: 100%;
}
.navbar-brand {
    font-weight: 600;
}
.navigation-bar {
    @extend .navbar; 
    @extend .navbar-expand-lg; 
    @extend .navbar-dark; 
    @extend .bg-dark;
}
.navigation-content {
    @extend .collapse; 
    @extend .navbar-collapse;
}
.navigation-list {
    @extend .navbar-nav; 
    @extend .nav-pills;
}
.overlay {
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
.quote {
    font-stretch: 1em;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.quote-left {
    @extend .fa;
    @extend .fa-quote-left;
}
.quote-right {
    @extend .fa;
    @extend .fa-quote-right;
}
.slogan {
    @include font-size(1.5rem);
    color: $utilColor1;
    text-align: center;
}
.technologies {
    @extend .row;
    div {
        margin-bottom: 2rem;
    }
    img {
        border: 2px transparent solid;
        border-radius: 10px;
        transition: .3s opacity ease-in;
        width: 100%;
        @media screen and (min-width: 576px) {
            opacity: .8;
        }
        &:hover {
            opacity: 1;
            transition: .3s opacity ease-out;
        }
    }
}
.technology {
    @extend .col-md-2;
    @extend .col-sm-3;
    @extend .col-4;
}